*{
    margin: 0;
    padding: 0;
    font-family: 'Martian Mono', monospace;
}

body{
    background-image: linear-gradient(#C9C9DB, #DDCECE, #5C5F40, #1A1A3E,#000);
    background-repeat: no-repeat;
}

header{
    height: 15vh;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    background-color: #EBE5CA;
}

header a, header h1, header button, header .buttons{
    background-color: #EBE5CA;
    height: 15vh;
}

header a,
header .button{
    width: 10vw;
}

.button,.b2{
    width: 10vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
    border-radius: 45%;
    color: #000;
    text-decoration: none;
    font-size: 200%;
}

.button:hover,
.b2:hover{
    background-color: #9d9d9d;
    color: #fff;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

header h1{
    color: black;
    /* font-family: ; */
    font-size: 500%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75vw;
}

.Heroimg{
    width: 100vw;
    height: auto;
    background-image: url(/img/Hero.png);
    background-repeat: no-repeat;
    background-size: cover;
}

footer, ul, h5, li, img, a{
    background-color: #EBE5CA;
}

.fivem{
    margin: 5%;
}

h3 {
    font-size: 400%;
    display: flex;
    justify-content: center;
}

p{
    font-size: 200%;
    line-height: 150%;
}

.fivem{
    margin: 5%;
}

h3 {
    font-size:50px;
}


header img{
    background: transparent;
}

footer{
    margin: ;
    display: flex;
    justify-content: space-between;
}

article{
    color: #fff;
}