*{
    background-color: #80808C;
    margin: 0;
}

header{
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    background-color: #EBE5CA;
}

header a, header h1, header button, header .buttons{
    background-color: #EBE5CA;
}

header a,
header button{
    width: 10vw;
}

header h1{
    color: black;
    /* font-family: ; */
    font-size: 500%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75vw;
}

.Heroimg{
    width: 100vw;
    height: auto;
    background-image: url(/img/Hero.png);
}

footer{
    background-color: #EBE5CA;
}

button{
    height: 5vh;
}
header img{
    background: transparent;
}