*{
    background-color: #80808C;
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
    padding: 0;
}

header{
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    background-color: #EBE5CA;
}

header a, header h1, header .buttons{
    background-color: #EBE5CA;
    height: 15vh;
}

header a,
header button{
    width: 10vw;
}

header h1{
    color: black;
    /* font-family: ; */
    font-size: 500%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75vw;
}

.Heroimg{
    width: 100vw;
    height: auto;
    background-image: url(/img/Hero.png);
    background-repeat: no-repeat;
    background-size: cover;
}

footer, ul, h5, li{
    background-color: #EBE5CA;
}

.fivem{
    margin: 5%;
}

h3 {
    font-size:50px;
}

.button,
.b2{
    border-color: transparent;
    background-color: #D9D9D9;
    height: 5vh;
    border-radius: 47%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    font-size: 200%;
}

.button:hover,
.b2:hover{
    background-color: #9d9d9d;
    color: #fff;
}

header button a{
    background-color: #D9D9D9;
    color: black;
    height: 5vh;

}

.buttons{
    height: 11vh;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

header img{
    background: transparent;
}

footer{
    margin: ;
    display: flex;
    justify-content: space-between;
}